main{
  background-color: "#CFD0D2";
}
.main-bg{
  height: 100vh;
  align-items: center;
  display: flex;
  justify-content: center;

}
.home-container {
    margin-top: 4.05rem;
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: 
    url('../../Assets/bg2.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    flex-direction: column;
  }
.home-container-text{
  margin-top: -4rem;

  }
.home-text{
    font-size: 3.0rem;
    color: #1E485B;
    text-align: center;
    font-weight: 500;

}
.home-text-1{
    font-size: 2rem;
    color: #1E485B;
    text-align: center;
    font-weight: 400;
    
}