main{
  background-color: "#CFD0D2";
}
.home-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: 
    url('../../Assets/bg2.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    flex-direction: column;
  }
.home-text{
    font-size: 3.0rem;
    color: #1E485B;
    text-align: center;
}